@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Movies</h3>
@if (!Model.Any())
{
    <p>We don't have any movies in stock.</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Movie</th>
                <th scope="col">Genre</th>
                <th scope="col">Date Added</th>
                <th scope="col">Available</th>
                <th scope="col">Stock</th>
                <th scope="col">Released</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                    <td>@movie.Genre.Name</td>
                    <td>@movie.DateAdded.ToShortDateString()</td>
                    <td>@movie.NumberAvailable</td>
                    <td>@movie.NumberInStock</td>
                    <td>@movie.ReleaseDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

